div{
    transition: 1000ms;
}

a{
    color: #E4E4E4; 
}

a:hover {
    color: #E4E4E4; 
}

.body-section{
    padding:32px;
    background: #FFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
    border-radius: 10px;
}

.body-section:hover {
    background:#F9F9F9;
    padding:32px;

    background: #F9F9F9;
    box-shadow: 0px 71px 89px rgba(0, 0, 0, 0.1), 0px 29.6621px 37.1821px rgba(0, 0, 0, 0.0718854), 0px 15.8588px 19.8793px rgba(0, 0, 0, 0.0596107), 0px 8.8903px 11.1442px rgba(0, 0, 0, 0.05), 0px 4.72157px 5.91859px rgba(0, 0, 0, 0.0403893), 0px 1.96475px 2.46286px rgba(0, 0, 0, 0.0281146);
    border-radius: 10px;
}

.disc{
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */
color: #E4E4E4;
}
